header {
    background: rgb(39, 218, 209);
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-transform: uppercase;
    color: rgb(0, 38, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}